# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# UI logs
*.log

# Netbeans
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
/engine/javascript/nbproject/private/
nbproject/

# Node JS
node_modules/
out/

# Compiled
*.jar
!/unmanaged_dependencies/*.jar
*.exe

# Distribution
distribution/builds/
jre/
launch4j/
*.zip
engine/engine-js/package-lock.json
engine/src/main/resources/lib/*
documentation/src/main/resources/autocomplete/input/*

# Documentation
documentation/rpgwizard-docs/docs
documentation/rpgwizard-docs/src/*.js

# Migrator
migrator/input/
migrator/output/