# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# UI logs
*.log

# Netbeans
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
/engine/javascript/nbproject/private/
nbproject/

# Node JS
node_modules/
out/