body {
    background-color: black;
    color: white;
}

#progress {
    width: 25%;
    height: 30px;
    background-color: grey;
    position:absolute;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    z-index: 2;
    visibility: hidden;
}

#bar {
    width: 1%;
    height: 30px;
    background-color: red;
}

#container {
    margin: auto;
    overflow:hidden;
    position:absolute;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    z-index: 1;
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow:hidden; 
}

canvas {
  image-rendering: pixelated;
}