body {
    background-color: black;
    color: white;
}

#container {
    margin: auto;
    overflow:hidden;
    
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    
    overflow:hidden; 
}